#!/usr/bin/bash

sudo apt update -y
sudo apt install ansible awscli gpg wget ca-certificates

# Fetch Ansible playbook from S3
aws s3 cp s3://"$(bucket_name)"/ansible/initial_playbook.yml /tmp/playbook.yml

# Run Ansible playbook
ansible-playbook /tmp/playbook.yml
EOF